@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*** BSP: @extend %reset;***/
/*** Mixins & Placeholders ***/
/**** caret ****/
/*@include icon-style ("\f075", 0, 1, 0, 2em);*/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/******* SVG *********/
/*** WP Specials ***/
/**** Filter ****/
/*** typography***/
/* Mediaqueries breakpoints */
/* Helper Classes */
/* =============================================================================
   Colors
   ========================================================================== */
/*$brand-complementary: #fcf8e3;
$brand-success:#21A356;

$brand-info:#7EA0C5;
$brand-warning:#fcf8e3;
$brand-danger:#DB221C;
$body-bg:#fff;
$text-color:#333;
$light-text-color:#999;
$light-gray:#ccc;
$dark-gray:darken($light-gray,50%);
$link-color:$brand-primary;
$border-color:$light-gray;
$mainBg:#F2F2F2;
$bubbleBG:$mainBg;

$bg-panel:#e5e5e4;
$bd-panel: #D9D9D9;

/*** Info Graphic ***/
/*$bg-level_c2:#083E72;
$bg-level_c1:#0C5092;
$bg-level_b2:$brand-primary;
$bg-level_b1:$brand-secondary;
$bg-level_a2:#427DB6;
$bg-level_a1:#689ACB;

$white: #fff;
$bg-inverse: #000;

$bg-footer-sitemap:#575757;
$footer-links:$bg-footer-sitemap;


/* =============================================================================
   Height & Widths
   ========================================================================== */
/*$logoImgHeight:135px;
$carouselHeight:398px;
$containerWidth:1170px;
$contactImgHeight:115px;
$bannerHeight:200px;

/* =============================================================================
   Typography
   ========================================================================== */
/*$base-font-size:            100% !default;
$base-line-height:          150% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1rem;

$headings-font-family:    'Titillium Web', Arial,Helvetica, sans-serif !important;
$body-font-family:        'Ubuntu', Arial,Helvetica, sans-serif; 

$heading-text-color:        $brand-primary;
$body-text-color:           $text-color;
$text-muted-color:          lighten($text-color,25%);

/* Margins & Paddings */
/*$outer-grid:2 * $rem-base;
$vertical-spacing:2*$rem-base;*/
.woocommerce_tabs ul.tabs li a:hover,
.woocommerce-tabs ul.tabs li a:hover,
.ui-tabs ul.tabs li a:hover,
.woocommerce_tabs .ui-tabs-nav li a:hover,
.woocommerce-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li a:hover {
  color: #93CCD3; }

.woocommerce_tabs ul.tabs li.active:before,
.woocommerce-tabs ul.tabs li.active:before,
.ui-tabs ul.tabs li.active:before,
.woocommerce_tabs .ui-tabs-nav li.active:before,
.woocommerce-tabs .ui-tabs-nav li.active:before,
.ui-tabs .ui-tabs-nav li.active:before,
.woocommerce_tabs ul.tabs li.ui-state-active:before,
.woocommerce-tabs ul.tabs li.ui-state-active:before,
.ui-tabs ul.tabs li.ui-state-active:before,
.woocommerce_tabs .ui-tabs-nav li.ui-state-active:before,
.woocommerce-tabs .ui-tabs-nav li.ui-state-active:before,
.ui-tabs .ui-tabs-nav li.ui-state-active:before {
  background: #93CCD3; }

.woocommerce_tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li.active a,
.ui-tabs ul.tabs li.active a,
.woocommerce_tabs .ui-tabs-nav li.active a,
.woocommerce-tabs .ui-tabs-nav li.active a,
.ui-tabs .ui-tabs-nav li.active a,
.woocommerce_tabs ul.tabs li.ui-state-active a,
.woocommerce-tabs ul.tabs li.ui-state-active a,
.ui-tabs ul.tabs li.ui-state-active a,
.woocommerce_tabs .ui-tabs-nav li.ui-state-active a,
.woocommerce-tabs .ui-tabs-nav li.ui-state-active a,
.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: #93CCD3;
  border-top-color: #93CCD3; }

.woo-pagination .page-numbers.current {
  background: #93CCD3; }

.flex-control-paging li a {
  background: rgba(147, 204, 211, 0.5) !important; }

.flex-control-paging li a.flex-active {
  background: #93ccd3 !important; }

.metaslider .caption-wrap {
  background: rgba(0, 0, 0, 0.8) !important;
  color: #fff; }

.footer-wrap {
  background: #f1f6e4; }

#header .nav-toggle {
  background-color: #93CCD3;
  background-image: none;
  border: 0.202em solid 0;
  text-shadow: none;
  border: 0; }

#header #navigation ul.nav > li.current-menu-item > a,
#header #navigation ul.nav > li.current_page_item > a,
#header #navigation ul.nav > li.parent:hover a:after {
  color: #93CCD3 !important; }

.type-post .meta .month {
  background: #93CCD3; }

.post img.thumbnail,
.type-page img.thumbnail {
  border-bottom: 0.327em solid #93CCD3 !important; }

.widget_woodojo_tabs ul.nav-tabs li a:hover {
  color: #93CCD3; }
.widget_woodojo_tabs ul.nav-tabs li.active:before {
  background: #93CCD3; }
.widget_woodojo_tabs ul.nav-tabs li.active a {
  color: #93CCD3;
  border-top-color: #93CCD3; }

div.quantity .plus,
div.quantity .minus {
  color: #93CCD3; }

ul.products li.product a:hover h3 {
  color: #93CCD3; }

.onsale {
  background: #93CCD3; }

.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #93CCD3; }

.widget_price_filter .ui-slider .ui-slider-range {
  background: #93CCD3; }

.shortcode-sale {
  background: #93CCD3; }

a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  background-color: #93CCD3;
  background-image: none;
  border: 0;
  text-shadow: none; }
  a.button:hover,
  a.comment-reply-link:hover,
  #commentform #submit:hover,
  .submit:hover,
  input[type=submit]:hover,
  input.button:hover,
  button.button:hover {
    background-color: #93CCD3;
    background-image: none;
    text-decoration: none; }
  a.button:active,
  a.comment-reply-link:active,
  #commentform #submit:active,
  .submit:active,
  input[type=submit]:active,
  input.button:active,
  button.button:active {
    background-color: #93CCD3;
    background-image: none; }

a:hover {
  color: #93CCD3; }

.slider {
  position: relative;
  max-width: 95.949em;
  margin: 0 auto; }

.buttons {
  text-align: center; }
  .buttons .cta-button {
    background-image: none;
    border: 0;
    /*        box-shadow: none ;*/
    text-shadow: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff !important;
    padding: .5em 2em; }
    .buttons .cta-button:hover {
      color: #fff; }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    .buttons {
      padding-top: 2em; } }
  @media screen and (min-width: 768px) {
    .buttons {
      position: absolute;
      bottom: 25%;
      width: 100%;
      z-index: 99; }
      .buttons .cta-button {
        margin: 0 .5em; } }

.badge {
  display: none; }
  body.home .badge {
    background-color: #fff;
    border: 1px solid #93CCD3;
    text-align: center;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    body.home .badge h2 {
      margin: 0;
      width: 280px;
      padding: 0 1em; }
      body.home .badge h2 span {
        display: block;
        margin-top: 1em;
        color: #93CCD3; }
    @media screen and (max-width: 599px) {
      body.home .badge {
        max-width: 300px;
        margin: 2em auto; } }
    @media screen and (min-width: 600px) {
      body.home .badge {
        position: absolute;
        top: -50%;
        right: -2%;
        z-index: 999;
        background-image: url("../img/bubbles-top.svg"), url("../img/bubbles-bottom.svg");
        background-repeat: no-repeat;
        background-size: 45% auto, 35% auto;
        background-position: 70% 5%, 25% 95%;
        width: 200px !important;
        height: 200px !important;
        line-height: 200px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        overflow: hidden;
        overflow: hidden; }
        body.home .badge h2 {
          font-size: 1em; } }
    @media screen and (min-width: 601px) and (max-width: 1200px) {
      body.home .badge {
        top: 140%;
        right: -5%; } }
    @media screen and (min-width: 1200px) {
      body.home .badge {
        top: 140%;
        right: -5%;
        width: 300px !important;
        height: 300px !important;
        line-height: 300px;
        -webkit-border-radius: 150px;
        border-radius: 150px;
        overflow: hidden;
        overflow: hidden; }
        body.home .badge h2 {
          font-size: 1.387em; } }

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0; }
  .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
    display: block;
    margin: .5em 0; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link:before {
      font-family: 'WebSymbolsRegular';
      display: inline-block;
      font-size: .857em;
      margin-right: .618em;
      font-weight: normal;
      content: ">";
      color: #e3dad7;
      width: .857em; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
      color: #93CCD3 !important; }

input[type="search"] {
  padding: .236em .5em;
  border: 1px solid #c4c0bf;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 1em;
  line-height: 1.618em;
  font-family: inherit;
  outline: none;
  margin: 0 .327em;
  background: #f7f7f7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.03), inset 0 1px 2px #d8d4d3, 0 1px #fff;
  box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.03), inset 0 1px 2px #d8d4d3, 0 1px #fff; }

#top .wc-nav li.search input {
  padding-left: 10px !important; }
  @media screen and (min-width: screen-lg) {
    #top .wc-nav li.search input {
      width: 190px !important; } }

body {
  font-family: "Open Sans", sans-serif !important; }

h1,
h2,
h3,
h4,
h5,
h6,
a.btn,
a[class*="button"] {
  font-family: "Bree Serif", sans-serif !important; }

body.home #main h1, .fb-stream h1 {
  text-align: center;
  margin: 2em 0 1em 0; }

.lead {
  font-size: larger; }

.cta-button {
  font-family: "Bree Serif", sans-serif;
  font-weight: normal;
  line-height: 1.387em;
  font-size: 1.2em; }
  @media screen and (min-width: 1200px) {
    .cta-button {
      font-size: 1.8em; } }

.metaslider .caption-wrap {
  text-align: center;
  font-family: "Bree Serif", sans-serif;
  font-weight: normal;
  padding: .5em 0; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .metaslider .caption-wrap .caption p:first-child ~ p {
      font-size: 1em;
      line-height: 1; } }
  @media screen and (min-width: 1200px) {
    .metaslider .caption-wrap .caption p:first-child ~ p {
      font-size: 1.618em;
      line-height: 1.387em; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .metaslider .caption-wrap .caption p:first-child {
      font-size: 1.25em;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    .metaslider .caption-wrap .caption p:first-child {
      font-size: 2.244em;
      line-height: 1.387em; } }

#menu-footer-menu {
  list-style: none; }
  #menu-footer-menu li.facebook a:before {
    font-family: 'FontAwesome';
    content: "";
    padding-right: 0;
    opacity: 1;
    margin-left: 0;
    font-size: 1em;
    speak: none; }
  #menu-footer-menu li.facebook a > span {
    display: none; }
  #menu-footer-menu a {
    font-weight: normal; }

body {
  background-color: white !important; }

#header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  border-color: #93CCD3 !important; }
  #header #logo {
    width: 300px;
    height: auto; }
  @media screen and (max-width: 768px) {
    #header {
      flex-direction: column; } }

@media screen and (min-width: 600px) {
  .homepage-banner {
    display: block; } }

ul.product-cats {
  margin-left: 0 !important;
  list-style: none; }
  ul.product-cats:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  ul.product-cats li.category {
    position: relative;
    float: left;
    margin-right: 3.8%;
    margin-bottom: 1.618em;
    text-align: center;
    /*        @media screen and (min-width: $screen-xs){
        width: 100%;
    }*/ }
    ul.product-cats li.category h3 {
      margin-bottom: 0; }
    ul.product-cats li.category a:hover h3 {
      color: #93CCD3 !important; }
    ul.product-cats li.category img {
      width: 100%;
      height: auto;
      padding: .53em;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #e8e4e3;
      background: #fff;
      margin: 0 auto 1em; }
    @media screen and (max-width: 768px) {
      ul.product-cats li.category {
        width: 48%; }
        ul.product-cats li.category:nth-child(2n) {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      ul.product-cats li.category {
        width: 22.05%; }
        ul.product-cats li.category:last-child {
          margin-right: 0; } }

.hero {
  margin: 3em 0; }
  @media screen and (min-width: 768px) {
    .hero {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: larger; } }
  @media screen and (max-width: 768px) {
    .hero .custom-ads {
      display: none; } }
  @media screen and (min-width: 768px) {
    .hero .custom-ads {
      text-align: right; } }

body:not(.home) #content {
  margin-top: 2em; }

@media screen and (max-width: 600px) {
  .footer-wrap {
    padding: 0 1em;
    margin: 0 -1.618em; } }

#footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 600px) {
    #footer {
      flex-direction: column-reverse;
      text-align: center; } }
  @media screen and (min-width: 601px) {
    #footer {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; } }

#menu-footer-menu {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 600px) {
    #menu-footer-menu {
      flex-direction: column;
      text-align: left;
      border-bottom: 1px solid #ccc; } }
  @media screen and (min-width: 601px) {
    #menu-footer-menu {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; }
      #menu-footer-menu a {
        padding: 0 .5em;
        border-right: 1px solid currentColor; }
      #menu-footer-menu li:last-child a {
        border: 0; } }

@media screen and (min-width: 1200px) {
  .wpcf7-form {
    float: left;
    margin-right: 2em; } }

hr {
  clear: both; }

#header #navigation {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 480px) {
    #header #navigation {
      width: 100%;
      background-image: none;
      background-color: #faf9f9; } }
  @media screen and (min-width: 1200px) {
    #header #navigation {
      align-self: flex-end; } }
  #header #navigation ul.nav {
    float: none;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      #header #navigation ul.nav {
        width: 100%;
        flex-direction: column; } }
    @media screen and (max-width: 481px) {
      #header #navigation ul.nav {
        flex-wrap: nowrap; } }
    #header #navigation ul.nav > li {
      background-color: transparent; }
      #header #navigation ul.nav > li a {
        border: 0;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        text-transform: uppercase; }
        @media screen and (max-width: 600px) {
          #header #navigation ul.nav > li a {
            font-size: 1em; } }
        @media screen and (min-width: 600px) and (max-width: 1200px) {
          #header #navigation ul.nav > li a {
            font-size: .75em; } }
        @media screen and (min-width: 1200px) {
          #header #navigation ul.nav > li a {
            font-size: 1.175em; } }
        #header #navigation ul.nav > li a:hover {
          background-color: #93CCD3 !important;
          border: 0;
          color: white !important; }
    #header #navigation ul.nav > li.current-menu-item:after,
    #header #navigation ul.nav > li.current_page_item:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 3px;
      background: #93CCD3; }
    #header #navigation ul.nav li.facebook a span {
      font-weight: bold;
      text-transform: lowercase;
      color: #93CCD3; }
    #header #navigation ul.nav li.facebook a:hover span {
      color: white; }

#footer-widgets {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0 1rem 0 !important; }
  @media screen and (max-width: 600px) {
    #footer-widgets {
      width: 100%;
      flex-direction: column-reverse; } }
  @media screen and (min-width: 601px) {
    #footer-widgets {
      justify-content: space-between;
      align-items: flex-end; } }
  #footer-widgets > * {
    float: none;
    flex: 1 0 auto; }
  #footer-widgets .block {
    margin: 0; }
  #footer-widgets .widget {
    margin-bottom: 0; }
  #footer-widgets .footer-widget-4 .widget_media_image {
    text-align: right; }
    @media screen and (max-width: 600px) {
      #footer-widgets .footer-widget-4 .widget_media_image {
        margin-bottom: 2rem; } }

/*# sourceMappingURL=kibasa-custom.css.map */
