.slider {
    position: relative;
    max-width: 95.949em;
    margin: 0 auto;
}

.buttons {
    text-align: center;
    .cta-button {
        background-image: none;
        border: 0;
        /*        box-shadow: none ;*/
        text-shadow: none;
        font-weight: normal;
        text-transform: uppercase;
        color: #fff !important;
        padding: .5em 2em;
        &:hover {
            color: #fff;
        }
    }
    @media screen and (min-width: $screen-smallPad) and (max-width:$screen-sm - 1) {
        padding-top: 2em;
    }
    @media screen and (min-width: $screen-sm) {
        position: absolute;
        bottom: 25%;
        width: 100%;
        z-index: 99;
        .cta-button {
            margin: 0 .5em;
        }
    }
}

.badge {
    background-color: #fff;
    border: 1px solid $brand-primary;
    text-align: center;
    @include shadow;
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    h2 {
        margin: 0;
        width: 300px;
        padding: 0 1em;
        span {
            display: block;
            margin-top: 1em;
            color: $brand-primary;
        }
    }
    @media screen and (max-width: $screen-smallPad - 1) {
        max-width: 300px;
        margin: 2em auto;
    }
    @media screen and (min-width: $screen-smallPad) {
        position: absolute;
        top: -50%;
        right: -2%;
        z-index: 999;
        background-image: url('../img/bubbles-top.svg'), url('../img/bubbles-bottom.svg');
        background-repeat: no-repeat;
        background-size: 45% auto, 35% auto;
        background-position: 70% 5%, 25% 95%;
        @include circle(200px);
        h2 {
            font-size: 1em;
        }
    }
    @media screen and (min-width:$screen-smallPad+1) and (max-width:$screen-lg) {
        top: 140%;
        right: -5%;
    }
    @media screen and (min-width:$screen-lg) {
        top: 140%;
        right: -5%;
        @include circle(300px);
        h2 {
            font-size: 1.387em;
        }
    }
}

.woocommerce-MyAccount-navigation ul {
    list-style: none;
    margin: 0;
    li.woocommerce-MyAccount-navigation-link {
        display: block;
        margin: .5em 0;
        &:before {
            font-family: 'WebSymbolsRegular';
            display: inline-block;
            font-size: .857em;
            margin-right: .618em;
            font-weight: normal;
            content: ">";
            color: #e3dad7;
            width: .857em;
        }
        a {
            color: $brand-primary !important;
        }
    }
}

input[type="search"] {
    padding: .236em .5em;
    border: 1px solid #c4c0bf;
    -webkit-border-radius: 0.125em;
    border-radius: 0.125em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 1em;
    line-height: 1.618em;
    font-family: inherit;
    outline: none;
    margin: 0 .327em;
    background: #f7f7f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.03), inset 0 1px 2px #d8d4d3, 0 1px #fff;
    box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.03), inset 0 1px 2px #d8d4d3, 0 1px #fff;
}

#top .wc-nav li.search input {
    @media screen and (min-width: screen-lg) {
        width: 190px !important;
    }
    padding-left:10px !important;
}