#header #navigation {
    @media screen and (min-width: $screen-lg) {
        // margin-top: 3.7em;
    }
    align-self: flex-end;
    margin: 0;
    padding: 0;
    ul.nav {
        float: none;
        @include display(flex);
        flex-wrap: nowrap;
        >li {
            background-color: transparent;
            a {
                border: 0;
                background-color: transparent;
                font-weight: normal;
                border-radius: 0;
                text-transform: uppercase;
                @media screen and (max-width: $screen-smallPad) {
                    font-size: 1em;
                }
                @media screen and (min-width:$screen-smallPad) and (max-width:$screen-lg) {
                    font-size: .75em;
                }
                @media screen and (min-width:$screen-lg) {
                    font-size: 1.175em;
                }
                &:hover {
                    background-color: $brand-primary !important;
                    border: 0;
                    color: white !important;
                }
            }
        }
        >li.current-menu-item:after,
        >li.current_page_item:after {
            content: ' ';
            display: block;
            width: 100%;
            height: 3px;
            background: $brand-primary;
        }
        li.facebook a {
            span {
                font-weight: bold;
                text-transform: lowercase;
                color: $brand-primary;
            }
            &:hover span {
                color: white;
            }
        }
    }
}