#footer-widgets {
    @include display(flex);
    padding: 2rem 0 1rem 0 !important;
    @media screen and (max-width: $screen-smallPad) {
        width: 100%;
        flex-direction: column-reverse;
    }
    @media screen and (min-width: $screen-smallPad + 1) {
        justify-content: space-between;
        align-items: flex-end;
    }
    >* {
        float: none;
        flex: 1 0 auto;
    }
    .block {
        margin: 0;
    }
    .widget {
        margin-bottom: 0;
    }
    .footer-widget-4 .widget_media_image {
        text-align: right;
        @media screen and (max-width: $screen-smallPad) {
            margin-bottom: 2rem;
        }
    }
}